/**************************************************/
/** CUSTOM STYLING FOR THE WORDPRESS CUSTOMIZER ***/
/**************************************************/
#customize-control-featured_id:after {
	content:"Note: Separate each ID with a comma. The IDs you put in here will override the featured category option above.";
	font-size:12px;
	font-style:italic;
	color:#888;
}

#customize-controls .container {
    width: auto !important;
}